@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;;
}
#wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
#container{
    background-color: grey;
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */

}
.btn{
    background-color: black;
    display: flex;
    width: 60vh;
    justify-content: space-around;
}
.img{
    margin-bottom: 2vh;
    background-size: cover;
    background-repeat: no-repeat ;
    width: 60vh;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
}
h3,h5{
    margin: 2em;
    padding: 1em;
}
button{
    padding: 2vh 4vh ;
    /* margin: 5vh 0 0 10vw; */

}
h5{
    margin: 40% 0%;
    text-align: center;
    
    /* background-color: blue; */
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}